// ==================================================================
// COLORS
// ==================================================================

// ONE DARK
@one_dark_background: #282C34;
@one_dark_comment: #5c6370;
@one_dark_cursor_line: rgba(153, 187, 255, 0.04);
@one_dark_find_result: rgba(82, 139, 255, 0.24);
@one_dark_guide: rgba(171, 178, 191, 0.15);
@one_dark_gutter: #636d83;
@one_dark_selection: #3e4451;
@one_dark_text: #abb2bf;
@highlight_selected_border: #ddd;

// NORMAL
@nova_normal_black: #3C4C55;
@nova_normal_red: #DF8C8C;
@nova_normal_green: #A8CE93;
@nova_normal_yellow: #DADA93;
@nova_normal_blue: #83AFE5;
@nova_normal_magenta: #9A93E1;
@nova_normal_cyan: #7FC1CA;
@nova_normal_white: #C5D4DD;

// BRIGHT
@nova_bright_black: #899BA6;
@nova_bright_red: #F2C38F;
@nova_bright_magenta: #D18EC2;
@nova_bright_white: #E6EEF3;

// DECORATION
@nova_decoration_dark: #1E272C;
@nova_decoration_medium: #556873;
@nova_decoration_light: #6A7D89;


// ==================================================================
// FALLBACK VARIABLES
// ==================================================================

@very-light-gray: @one_dark_text;
@light-gray: @nova_bright_black;
@gray: @nova_decoration_medium;
@dark-gray: @one_dark_background;
@very-dark-gray: @nova_decoration_dark;
@cyan: @nova_normal_cyan;
@blue: @nova_normal_blue;
@purple: @nova_normal_magenta;
@green: @nova_normal_green;
@red: @nova_normal_red;
@orange: @nova_bright_red;
@light-orange: @nova_normal_yellow;
